<form [formGroup]="agentdetails" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Agent Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ProposalNo" formControlName="ProposalNo">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
              <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="emp1" formControlName="emp1">Employee</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="ind1" formControlName="ind1">Individual</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="bankassurance" formControlName="bankassurance">Bank Assurance</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="Corporate" formControlName="Corporate">Corporate</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="DMC" formControlName="DMC">DMC</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="Others" formControlName="Others">Others</mat-checkbox>
              </section>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bank Ref. Code" formControlName="BankRefCode">            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fsc Name/IC Name" formControlName="FSCName">            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fsc Branch" formControlName="FSCBranch">            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="STM Name" formControlName="STMName">            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="STM Code" formControlName="STMCode">        
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="FSC Code/IC Code" formControlName="FSCCode">        
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Pan Number" formControlName="PanNo">        
          </mat-form-field>
        </div>
      </div>      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="STM Branch" formControlName="STMBranch">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Receipt No." formControlName="ReceiptNo">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>    
  </mat-card>
</form>
