<form>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ProposalNo" formControlName="ProposalNo">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bank Ref. Code" formControlName="BankRefCode">            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fsc Name/IC Name" formControlName="FSCName">            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fsc Branch" formControlName="FSCBranch">            
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="STM Name" formControlName="STMName">            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="STM Code" formControlName="STMCode">        
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="FSC Code/IC Code" formControlName="FSCCode">        
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Pan Number" formControlName="PanNo">        
          </mat-form-field>
        </div>
      </div>      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="STM Branch" formControlName="STMBranch">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Receipt No." formControlName="ReceiptNo">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>    
  </mat-card>
</form>
